@import url('https://fonts.googleapis.com/css2?family=Volkhov&display=swap');

body{
background-color: azure;
}

.jumbotron2{
  border-radius: 0px;
  background-image: url("https://cdn.pixabay.com/photo/2020/03/26/10/58/norway-4970080_960_720.jpg");
  height: 300px;
  background-size: cover;
}

h1{
  font-family: 'Volkhov', serif;
  margin-bottom: 15px;margin-top: 0px; margin-left: 20px
}

a{
  color: grey;
}
